{
    
}
body{
    background-color:rgb(22, 0, 41);
    font-family: 'Roboto', Arial, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(93, 1, 179);
}
main{
    background-color: rgb(62, 226, 255);
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow 3px 3px 5px rgba (0, 0, 0, 473);    
}